.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav {
  display: flex;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // no grow no shrink always 18% width
  flex: 0 0 18%;
}

.hotel-view{
  background-color: #fff;
  // element should grow as much as it can, and use default 1 shrink - that we allow to shrink
  flex: 1;
}